# Javascript Node CircleCI 2.0 configuration file
# .circleci/config.yml
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2

workflows:
  version: 2
  test:
    jobs:
      # https://discuss.circleci.com/t/run-tests-on-multiple-versions-of-python/15462/2
      - test-latest
      - test-LTS
      # Wikimedia Tool Labs: v0.10.25
      - test-old

# a collection of steps
jobs:
  test-LTS: &test-template
    docker:
      # https://circleci.com/docs/2.0/circleci-images/
      # https://hub.docker.com/r/circleci/node/tags/
      # https://github.com/CircleCI-Public/circleci-dockerfiles/tree/master/node/images
      - image: circleci/node:10.9.0-stretch

    steps:
      - checkout
      - run: # run tests
          name: test
          command: npm test

  test-latest:
    #<<: *test-template
    docker:
      - image: circleci/node:11.8.0-stretch

    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run: # run tests
          name: test
          command: npm test

  test-old:
    #<<: *test-template
    docker:
      # NG
      #- image: circleci/node:0.10.25
      # OK
      - image: circleci/node:4.8.7

      # https://discuss.circleci.com/t/how-to-change-node-version-in-circleci-2-0/17455/2
      #- run:
      #    name: Install node@0.10.25
      #    command: |
      #      set +e             
      #      touch $BASH_ENV  
      #      curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
      #      echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
      #      echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      #      echo 'nvm install v0.10.25' >> $BASH_ENV
      #      echo 'nvm alias default node' >> $BASH_ENV

    steps:
      - checkout
      - run: # run tests
          name: test
          command: npm test
